@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form  method="post">
        <label>Nombre del secreto</label>
        <input type="text" name="secretname"  class="form-control"/>
        <button class="btn btn-info">Mostrar secreto</button>
    </form>
    <h2 style="color:blueviolet">@ViewData["SECRETO"]</h2>
</div>
